*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.im{
   width: 95px;
   height: 155px;
   cursor: zoom-in;
}

.list .item{
    transition: .5s;
    filter: brightness(0.3);
}

.list .item:hover{
    filter: brightness(1);
    transform: translateZ(200px) 
}

.list{
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(45deg);
}

.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(100px) rotateY(30deg);
}

.list .item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(50px) rotateY(20deg);
}

.list .item:hover + * + * + * + *{
    filter: brightness(0.1);
    transform: translateZ(20px) rotateY(7deg);
}

.list .item:has(+ * :hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-45deg);
}

.list .item:has(+ * + * :hover){
    filter: brightness(0.4);
    transform: translateZ(100px) rotateY(-30deg);
}

.list .item:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(50px) rotateY(-20deg);
}

.list .item:has(+ * + * + * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(20px) rotateY(-7deg);
}